* {
    margin: 0;
    padding: 0;
}
body{

    background-color: rgb(147 197 253);
}
section {
    width: 75%;
    margin: 0 auto;
    padding: 5px;
}

#editor-container {
    border: 2px solid black;
    border-radius: 5px;
}

#editor-options-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.editor-options {
    display: flex;
    gap: 10px;
}
#editor-textarea-container{
    margin: 20px 20px;
}
#editor {
    height: 400px;
    width: 100%;
    
}